/*.App {*/
/*  text-align: center;*/
/*}*/
.App {
    margin: 20px;

}
button {
    margin-top: 10px;
}
.post {
    border: 1px solid #000;
    width: 400px;
    margin-top: 20px;
    padding: 20px;
}